{% extends 'layout.html' %}

{% block body %}
  <h1><small> Welcome {{session.username}}</small></h1>
  <h2>Your Location: {{session.location}}</h2>
  <hr>
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Qualification</th>
      <th>Designation</th>
      <th>Experience</th>
      <th>Hospital</th>
      <th>Location</th>
    </tr>
    {% for article in articles %}
      <tr>
        <td>{{article.Name[0]}}</td>
        <td>{{article.Qualification[0]}}</td>
        <td>{{article.Qualification[1]}}</td>
        <td>{{article.Qualification[4]}}</td>
        <td>{{article.Place[0]}}</td>
        <td>{{article.Place[1]}}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
